<h2 mat-dialog-title>{{esEdicion ? 'Editar Modelo' : 'Nuevo Modelo'}}</h2>

<mat-dialog-content>
  <p class="text-secondary small mb-3">
    {{esEdicion ? 'Modificar los datos del Modelo' : 'Ingrese los datos para registrar un nuevo Modelo en el sistema.'}}
  </p>

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>Nombre del Modelo</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej. Envy , Pavilion Desktop" autocomplete="off">
      @if (form.get('nombre')?.hasError('required')) {
        <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-3 pe-3 gap-2">
  <button mat-button class="btn-cancel px-4 rounded-pill" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button class="btn-confirm px-4 rounded-pill" (click)="guardar()" [disabled]="form.invalid">
    {{esEdicion ? 'Guardar cambios' : 'Guardar'}}

  </button>
</mat-dialog-actions>
