<div class="sidebar-container" [class.collapsed]="layoutService.sidebarCollapsed()">

    <div class="sidebar-header">

        <a routerLink="/" class="logo-area">
            <img src="assets/images/inventario.png" alt="Logo" class="sidebar-logo">

            @if (!layoutService.sidebarCollapsed()) {
            <div class="logo-text fade-in-text">
                <span class="fw-bold fs-5 lh-1">UTDI</span>
                <span class="small text-muted">Inventory</span>
            </div>
            }
        </a>

        <button mat-icon-button class="toggle-btn ms-auto" (click)="layoutService.toggleSidebar()">
            <mat-icon>{{ layoutService.sidebarCollapsed() ? 'menu' : 'menu_open' }}</mat-icon>
        </button>

    </div>

    @if (!layoutService.sidebarCollapsed()) {
    <div class="px-3">
        <hr class="mt-0 mb-2 text-secondary opacity-25">
    </div>
    }

    <div class="scroller">

        <div class="nav nav-pills flex-column">

            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"
                [matTooltip]="layoutService.sidebarCollapsed() ? 'Dashboard' : ''" matTooltipPosition="right">
                <div class="nav-icon"><mat-icon>dashboard</mat-icon></div>

                @if (!layoutService.sidebarCollapsed()) {
                <span class="nav-text">Dashboard</span>
                }
            </a>


          @if (permiso(['administrador', 'inventario utdi'])) {
            @if (!layoutService.sidebarCollapsed()) {
              <div class="nav-header">ADMINISTRACIÓN</div>
            } @else {
              <div class="nav-divider"></div>
            }
          }

          <!--             <a routerLink="/catalogos" routerLinkActive="active" class="nav-link"
                          [matTooltip]="layoutService.sidebarCollapsed() ? 'Catálogos' : ''" matTooltipPosition="right">
                          <div class="nav-icon"><mat-icon>grid_view</mat-icon></div>

                          @if (!layoutService.sidebarCollapsed()) {
                          <span class="nav-text">Catálogos</span>
                          }
                      </a> -->

          @if (permiso(['administrador', 'inventario utdi'])) {
            <div class="nav-item-group" routerLinkActive="active-group" [routerLinkActiveOptions]="{exact: false}">

              <a class="nav-link cursor-pointer" (click)="acoplarCatalogo()" [class.active]="rla.isActive"
                 #rla="routerLinkActive" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
                 [matTooltip]="layoutService.sidebarCollapsed() ? 'Catálogos' : ''" matTooltipPosition="right">

                <div class="nav-icon"><mat-icon>grid_view</mat-icon></div>

                @if (!layoutService.sidebarCollapsed()) {
                  <span class="nav-text flex-grow-1">Catálogos</span>

                  <mat-icon class="menu-arrow" [class.rotated]="opcionesCatalogo()">
                    expand_more
                  </mat-icon>
                }
              </a>

              @if (!layoutService.sidebarCollapsed() && opcionesCatalogo()) {
                <div class="nav-children">

                  <a routerLink="/catalogos/bodegas" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-building"></i></div>
                    <span class="nav-text">Bodegas</span>
                  </a>

                  <a routerLink="/catalogos/productos" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-box"></i></div>
                    <span class="nav-text">Productos</span>
                  </a>

                  <a routerLink="/catalogos/categorias" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-tags"></i></div>
                    <span class="nav-text">Categorías</span>
                  </a>

                  <a routerLink="/catalogos/proveedores" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-truck"></i></div>
                    <span class="nav-text">Proveedores</span>
                  </a>

                  <a routerLink="/catalogos/unidades" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-rulers"></i></div>
                    <span class="nav-text">Unidades de Medida</span>
                  </a>

                  <a routerLink="/catalogos/marcas" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-substack"></i></div>
                    <span class="nav-text">Marcas</span>
                  </a>

                  <a routerLink="/catalogos/modelos" routerLinkActive="active" class="nav-link child-link">
                    <div class="nav-icon small-icon"><i class="bi bi-ui-checks-grid"></i></div>
                    <span class="nav-text">Modelos</span>
                  </a>

                </div>
              }
            </div>
          }

          @if (permiso(['administrador'])) {
            <a routerLink="/usuarios" routerLinkActive="active" class="nav-link"
               [matTooltip]="layoutService.sidebarCollapsed() ? 'Usuarios' : '' " matTooltipPosition="right">
              <div class="nav-icon"><mat-icon>group</mat-icon></div>

              @if (!layoutService.sidebarCollapsed()) {
                <span class="nav-text">Usuarios</span>
              }
            </a>
          }

            @if (!layoutService.sidebarCollapsed()) {
            <div class="nav-header">UTDI</div>
            } @else {
            <div class="nav-divider"></div>
            }

          <a routerLink="/diccionario-materiales" routerLinkActive="active" class="nav-link"
             [matTooltip]="layoutService.sidebarCollapsed() ? 'Diccionario' : ''" matTooltipPosition="right">
            <div class="nav-icon"><mat-icon>menu_book</mat-icon></div>

            @if (!layoutService.sidebarCollapsed()) {
              <span class="nav-text">Diccionario de Materiales</span>
            }
          </a>

            <a routerLink="/presupuesto" routerLinkActive="active" class="nav-link"
                [matTooltip]="layoutService.sidebarCollapsed() ? 'Presupuesto' : ''" matTooltipPosition="right">
                <div class="nav-icon"><mat-icon>post_add</mat-icon></div>

                @if (!layoutService.sidebarCollapsed()) {
                <span class="nav-text">Presupuesto</span>
                }
            </a>


<!--            <a routerLink="/proyecto" routerLinkActive="active" class="nav-link"
                [matTooltip]="layoutService.sidebarCollapsed() ? 'Proyecto' : ''" matTooltipPosition="right">
                <div class="nav-icon"><mat-icon>electric_bolt</mat-icon></div>

                @if (!layoutService.sidebarCollapsed()) {
                <span class="nav-text">Soporte</span>
                }
            </a>-->

            @if (permiso(['administrador', 'jefe utdi', 'inventario utdi'])) {
                @if (!layoutService.sidebarCollapsed()) {
                    <div class="nav-header">INVENTARIO</div>
                } @else {
                    <div class="nav-divider"></div>
                }
            }

            @if (permiso(['administrador', 'jefe utdi', 'inventario utdi'])) {
                <a routerLink="/solicitud_compra" routerLinkActive="active"
                    class="nav-link" [matTooltip]="layoutService.sidebarCollapsed() ? 'Solicitud de Compra' : ''"
                    matTooltipPosition="right">
                    <div class="nav-icon"><mat-icon>request_quote</mat-icon></div>

                    @if (!layoutService.sidebarCollapsed()) {
                    <span class="nav-text">Solicitud de Compra</span>
                    }
                </a>
            }

            @if (permiso(['administrador', 'jefe utdi', 'inventario utdi'])) {
                <a routerLink="/inventario" routerLinkActive="active" class="nav-link"
                    [matTooltip]="layoutService.sidebarCollapsed() ? 'Inventario' : ''" matTooltipPosition="right">
                    <div class="nav-icon"><mat-icon>inventory_2</mat-icon></div>

                    @if (!layoutService.sidebarCollapsed()) {
                    <span class="nav-text">Inventario</span>
                    }
                </a>
            }

            @if (permiso(['administrador', 'inventario utdi'])) {
                <a routerLink="/movimientos" routerLinkActive="active" class="nav-link"
                    [matTooltip]="layoutService.sidebarCollapsed() ? 'Movimientos' : ''" matTooltipPosition="right">
                    <div class="nav-icon"><mat-icon>swap_horiz</mat-icon></div>

                    @if (!layoutService.sidebarCollapsed()) {
                    <span class="nav-text">Movimientos</span>
                    }
                </a>
            }

            @if (permiso(['administrador','inventario utdi'])) {
                <a routerLink="/descargo" routerLinkActive="active" class="nav-link"
                    [matTooltip]="layoutService.sidebarCollapsed() ? 'Descargo' : ''" matTooltipPosition="right">
                    <div class="nav-icon"><mat-icon>remove_circle_outline</mat-icon></div>

                    @if (!layoutService.sidebarCollapsed()) {
                    <span class="nav-text">Descargo</span>
                    }
                </a>
            }



        </div>
    </div>
</div>
