/* --- BOTONES Y BUSCADOR --- */
.btn-buscar {
  background: linear-gradient(135deg, #031e3f 0%, #153863 100%);
  color: white !important;
  height: 48px;
  border: none;
}

.animacion-fade {
  animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}


/* --- TABLA ELEGANTE Y ANCHOS FIJOS --- */
.custom-card {
  border: 1px solid #e0e0e0 !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important;
  background: white;
  overflow: hidden;
}

.mat-mdc-table {
  background: transparent;
  table-layout: fixed; /* Obliga a la tabla a respetar estrictamente los anchos */
  width: 100%;
}

.mat-mdc-header-row {
  background: linear-gradient(#031e3f 0%, #153863 100%);
  border-bottom: 2px solid #f1f3f5;
  height: 48px;
}

.mat-mdc-header-cell {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mat-mdc-row {
  height: 50px;
  transition: all 0.2s ease-in-out;
}

.hover-row:hover {
  background-color: #f8faff !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.02);
  z-index: 1;
  position: relative;
}

.mat-mdc-cell {
  font-size: 0.9rem;
  color: #344767;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb !important;
}

::ng-deep .mat-sort-header-arrow { color: #ffffff !important; }
::ng-deep .mat-sort-header-arrow.ng-trigger-arrowPosition { opacity: 0.9 !important; }

.badge-pill {
  padding: 6px 16px;
  font-size: 0.75rem;
  border-radius: 15px;
  background-color: #f1f5f9;
  border: 1px solid #e2e8f0;
  color: #1e293b;
  font-weight: 700;
}

/* --- TAMAÑOS DE COLUMNAS --- */
.mat-column-sku {
  width: 20%;
}

.mat-column-producto {
  width: 45%;
  white-space: normal !important;
  word-wrap: break-word;
  padding-right: 15px !important;
}

.mat-column-categoria {
  width: 20%;
  white-space: normal !important;
  word-wrap: break-word;
  padding-right: 15px !important;
}

.mat-column-cantidad {
  width: 15%;
}
