<div class="container-wide px-5 mt-4">

  <div class="d-flex flex-wrap justify-content-between align-items-center mb-4 gap-3">

    <div class="d-flex align-items-center gap-3">
      <button mat-icon-button class="bg-white shadow-sm text-dark" routerLink="/dashboard">
        <mat-icon style="margin-bottom: 5px;">arrow_back</mat-icon>
      </button>

      <div>
        <h6 class="text-uppercase text-muted mb-1" style="font-size: 0.8rem; letter-spacing: 1px;">Área Técnica</h6>
        <h2 class="fw-bold text-dark m-0">Diccionario de Materiales y Equipo Informático</h2>
      </div>
    </div>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="density-compact m-0" style="width: 100%; max-width: 500px; font-size: 0.9rem;">
      <mat-label>Buscar producto...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Laptop, SKU , Categoria o Modelo" #input autocomplete="off">
      <mat-icon matSuffix class="text-primary">search</mat-icon>
    </mat-form-field>

  </div>

  <mat-card class="custom-card mb-5">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">

        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
                            <span class="badge bg-light text-dark border font-monospace" style="font-size: 0.85rem; letter-spacing: 1px;">
                                {{element.skuproducto}}
                            </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Material / Equipo </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center py-2">
              <div class="d-flex flex-column">
                <span class="fw-bold text-dark">{{element.nombreproducto}}</span>
                <div class="d-flex align-items-center">
                  <mat-icon class="text-muted me-1" style="font-size: 14px; width: 14px; height: 14px;">tag</mat-icon>
                  <small class="text-secondary">{{element.unidadMedida?.nombreunidadmedida}}</small>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center py-2">

              <div class="d-flex flex-column">
                <span class="fw-bold text-muted">{{element.categoria?.nombrecategoria}}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca / Modelo </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex flex-column py-2">

              @if (element.modelo?.marca?.nombremarca) {
                <div class="d-flex align-items-start">
                  <mat-icon style="font-size: 14px; width: 14px; height: 14px;" class="me-2 text-dark d-flex align-items-center">
                    <i class="bi bi-substack"></i> </mat-icon>
                  <span class="fw-bold text-dark">{{element.modelo?.marca?.nombremarca}}</span>
                </div>
              }

              @if (element.modelo?.nombremodelo) {
                <div class="d-flex align-items-start">
                  <mat-icon style="font-size: 12px; width: 14px; height: 14px;" class="me-2 text-secondary d-flex align-items-center">
                    <i class="bi bi-ui-checks-grid"></i>
                  </mat-icon>
                  <small class="text-secondary">{{element.modelo?.nombremodelo}}</small>
                </div>
              }
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Referencia Visual </th>

          <td mat-cell *matCellDef="let element" class="text-center">

            <div class="d-flex justify-content-center align-items-center gap-1">
              @if (element.imagenes && element.imagenes.length > 0) {
                <button mat-icon-button class="action-btn eyes" matTooltip="Ver Galería" (click)="verGaleria(element)">
                  <mat-icon class="icon-accion align-middle">visibility</mat-icon>
                </button>
              } @else {
                <button mat-icon-button disabled class="action-btn text-muted" matTooltip="Sin Fotos">
                  <mat-icon class="icon-accion align-middle opacity-25">visibility_off</mat-icon>
                </button>
              }
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center py-5" colspan="5">
            <div class="d-flex flex-column align-items-center text-muted">
              <mat-icon style="font-size: 50px; width: 50px; height: 50px;" class="mb-3 opacity-50">search_off</mat-icon>
              <h5 class="fw-medium m-0">No se encontraron coincidencias</h5>
              <small class="mt-1">Intenta con otras palabras clave.</small>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
