<div class="container-wide px-5 mt-5 fade-in">
    <div class="row">
        <div class="col-12">
            
            <div class="d-flex flex-column align-items-center justify-content-center text-muted bg-white rounded-4 shadow-sm border py-5" 
                 style="min-height: 50vh;"> 
<!--                 <img src="assets/images/prueba.jpeg" alt="Logo" class=" mb-4 text-warning opacity-75 fw-light sidebar-logo icon-pulse" style="font-size: 100px; width: 300px; height: 300px;"> -->
                <mat-icon style="font-size: 100px; width: 100px; height: 100px;" class="mb-4 text-warning opacity-75 fw-light icon-pulse">terminal</mat-icon>
                
                <h2 class="fw-bold text-dark">¡Estamos trabajando en esto!</h2>
                
                <p class="text-center px-3 fs-5" style="max-width: 600px;">
                    Esta funcionalidad está actualmente en desarrollo. Pronto estará disponible ....
                </p>

                <div class="mt-4">
                     <div class="progress" style="height: 8px; width: 500px;" role="progressbar">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 40%"></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>