.custom-card {
    border: 1px solid #e0e0e0 !important;
    border-radius: 16px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important; 
    background: white;
    overflow: hidden;
}

.mat-mdc-table { background: transparent; }

.mat-mdc-header-row {
    background: linear-gradient(#031e3f 0%, #153863 100%);
    border-bottom: 2px solid #f1f3f5;
    height: 60px;
}

.mat-mdc-header-cell {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.mat-mdc-row {
    height: 70px;
    transition: all 0.2s ease-in-out;
}

.hover-row:hover {
    background-color: #f8faff !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
    z-index: 1;
    position: relative;
}

.mat-mdc-cell {
    font-size: 0.9rem;
    color: #344767;
    font-weight: 500;
    border-bottom: 1px solid #ebebeb !important;
}

.badge-soft {
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.action-btn { transition: transform 0.2s; }
.action-btn:hover {
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.04);
}

.mat-column-acciones {
    width: 200px;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    padding-right: 24px !important;
    overflow: visible !important;
}

.btn-nuevo {
    background: linear-gradient(#031e3f 0%, #153863 100%);
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3);
    border: none;
    height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.edit-color{
    color: #d59809;
}

.status-pendiente {
    background-color: #fff8dd; 
    color: #d6a800;
    border-color: #ffedb8;
}

.status-aprobada {
    background-color: #bbf8d9; 
    color: #008d3f; 
    border-color: #d1fbe4;
    font-size: small;
    border-radius: 16px !important;
}

.status-recepcionada {
    background-color: #e1f0ff; 
    color: #009ef7; 
    border-color: #ccf3c7;
}

.status-rechazada {
    background-color: #fff5f8; 
    color: #f1416c;
    border-color: #ffe1e9;
}

.text-muted-hover:hover { color: #3f51b5 !important; cursor: pointer; }

.container-wide {
    width: 95%; /* Ocupa casi toda la pantalla */
    max-width: 1600px; /* Pero pone un límite para que no se vea infinito en monitores 4K */
    margin-right: auto; /* Centrado automático */
    margin-left: auto;  /* Centrado automático */
    padding-right: 2rem;
    padding-left: 2rem;
}

/* Ajuste opcional para pantallas pequeñas (móviles/tablets) */
@media (max-width: 768px) {
    .container-wide {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.btn-cancelar {
    background: #ffffff;
    color: #f72828;
    border: 1px solid #d3d3d3;
    height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: none;
}

/* Efecto al pasar el mouse */
.btn-cancelar:hover {
    background-color: #f72828;
    /* border-color: #000000; */
    color: #ffffff;
}

.btn-confirmar {
    background: linear-gradient(#031e3f 0%, #153863 100%);
    color: white !important;
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3);
    border: none;
    height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
/* Efecto Hover */
.btn-confirmar:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    filter: brightness(105%);
}

.btn-confirmar:disabled {
    background: #e0e0e0;
    color: #9e9e9e;
    box-shadow: none;
}