<div class="modal-header header-gradient d-flex justify-content-between align-items-center p-3">
  <div class="d-flex align-items-center text-white gap-3">
    <div class="icon-circle bg-white-20">
      <mat-icon>inventory</mat-icon>
    </div>
    <div>
      <h5 class="m-0 fw-bold">Asignación y Despacho Físico</h5>
      <small class="opacity-75">Presupuesto: #{{ idPresupuesto }}</small>
      <small class="opacity-75"> | Solicitante: {{ usuarioPresupuesto }}</small>
    </div>
  </div>
  <button mat-icon-button class="text-white" (click)="cerrarModal()">
    <mat-icon style="margin-bottom: 5px;">close</mat-icon>
  </button>
</div>

<mat-dialog-content class="p-0">
  <div class="container-fluid p-3">

    <table mat-table [dataSource]="itemsRevision()" class="w-100">

      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef class="ps-3 fw-bold text-dark"> REQUERIMIENTO TÉCNICO </th>
        <td mat-cell *matCellDef="let item" class="ps-3 border-bottom-0 pt-3 pb-3">
          <div class="d-flex align-items-center">
            <div class="avatar-item me-3 shadow-sm">
              {{ item.nombreProducto.charAt(0) }}
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold text-dark" style="font-size: 1.05rem;">{{ item.nombreProducto }}</span>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="solicitado">
        <th mat-header-cell *matHeaderCellDef class="text-center fw-bold text-dark w-25"> ESTADO </th>
        <td mat-cell *matCellDef="let item" class="text-center border-bottom-0 pt-3 pb-3">

          <div class="d-flex flex-column gap-1 align-items-center">
            @if (item.cantidadDespachada > 0) {
              <span class="badge rounded-pill bg-success-subtle text-success border border-success-subtle px-3 py-1 fs-6 shadow-sm">
                ENTREGADO: {{ item.cantidadDespachada }}
              </span>
            }

            @if (item.cantidadPendiente === 0) {
<!--              <span class="badge rounded-pill bg-light text-secondary border px-3 py-1 fs-6 shadow-sm mt-1">
                  COMPLETADO
              </span>-->
            } @else {
              <span class="badge rounded-pill bg-danger-subtle text-danger border border-danger-subtle px-3 py-1 fs-6 shadow-sm"
                    [class.mt-1]="item.cantidadDespachada > 0">
                  PENDIENTE: {{ item.cantidadPendiente }}
              </span>
            }
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef class="text-center fw-bold text-dark w-50"> ASIGNAR MATERIAL </th>
        <td mat-cell *matCellDef="let item" class="py-3 border-bottom-0">

          <div class="d-flex flex-column gap-2 pe-3">

            @if (item.cantidadPendiente === 0) {
              <div class="d-flex align-items-center text-success fw-bold p-3 bg-success-subtle border border-success-subtle rounded">
                <mat-icon class="me-2">done_all</mat-icon>
                Material despachado completamente
              </div>
            } @else {

              @for (sust of item.sustitutosDisponibles; track sust.idProducto) {
                <div class="d-flex align-items-center justify-content-between p-3 border rounded shadow-sm bg-white mb-2 hover-row">
                  <div class="d-flex flex-column flex-grow-1">

                    <div class="d-flex align-items-center gap-2 mb-1">
                      <span class="badge bg-light text-secondary border font-monospace" style="font-size: 0.7rem;">{{ sust.skuProducto }}</span>
                      <strong class="text-dark" style="font-size: 0.95rem;">{{ sust.nombreProducto }}</strong>
                    </div>

                    <div class="d-flex flex-wrap gap-2 mb-2 mt-1">
                      @for (bodega of sust.desgloseBodegas; track bodega.nombreBodega) {
                        <span class="badge bg-light text-secondary border">
                              {{ bodega.nombreBodega }}: <strong class="text-dark">{{ bodega.cantidadActual }}</strong>
                          </span>
                      }
                    </div>

                    <span class="text-muted" style="font-size: 0.8rem;">
                      Disp. en Bodega Despacho: <span class="fw-bold text-primary">{{ sust.stockEnDespacho }}</span>
                    </span>
                  </div>

                  <div class="d-flex align-items-center gap-3">

                    @if (sust.stockEnDespacho > 0) {
                      <div class="text-success fw-bold d-flex align-items-center bg-success-subtle px-3 py-2 rounded-pill border border-success-subtle shadow-sm">
                        <mat-icon class="icon-tiny me-1">check_circle</mat-icon>
                      </div>
                    }

                    @if (sust.stockGlobal > sust.stockEnDespacho) {
                      <button mat-stroked-button color="primary" class="rounded-pill px-2 py-0"
                              style="line-height: 28px; height: 32px; font-size: 0.8rem;"
                              matTooltip="Mover materiales a Despacho"
                              (click)="transferirStock(item, sust)">
                        <mat-icon style="font-size: 12px; width: 12px; height: 12px; vertical-align: middle; margin-left: 1px;">swap_horiz</mat-icon>Mover
                      </button>
                    }

                  </div>
                </div>
              }

              @if (item.sustitutosDisponibles.length === 0) {
                <div class="d-flex align-items-center text-danger fw-bold p-3 bg-danger-subtle border border-danger-subtle rounded">
                  <mat-icon class="me-2">cancel</mat-icon>
                  <div class="text-danger fw-bold ">Sin existencias</div>
                </div>
              }
            }
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="border-bottom"></tr>
    </table>

  </div>
</mat-dialog-content>

<div class="modal-footer p-3 bg-light border-top d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center gap-2">
    @if (!hayAlgoParaDespachar()) {
      <mat-icon class="text-muted icon-tiny">info</mat-icon>
      <span class="text-muted small fw-bold">Transfiera materiales a la Bodega de Despacho.</span>
    } @else if (!todoListoParaDespacho()) {
      <mat-icon class="text-primary icon-tiny">inventory</mat-icon>
      <span class="text-primary small fw-bold" >Despacho Parcial Configurado.</span>
    } @else {
      <mat-icon class="text-success icon-tiny">verified_user</mat-icon>
      <span class="text-success small fw-bold">Despacho Total Configurado.</span>
    }
  </div>

  <div class="d-flex gap-2">
    <button mat-stroked-button class="btn-cancelar" (click)="cerrarModal()">Cerrar</button>
    <button mat-flat-button color="primary" class="btn-confirmar px-4 shadow-sm"
            [disabled]="!hayAlgoParaDespachar() || !esEncargadoInventario()"
            (click)="ejecutarDespacho()">
      <mat-icon class="me-2">local_shipping</mat-icon> EJECUTAR DESPACHO
    </button>
  </div>
</div>
