/* Estilos adaptados de presupuesto-aprobacion y presupuesto-list */
.custom-card {
  border-radius: 16px !important;
  background: white;
}

.header-gradient {
  background: linear-gradient(#031e3f 0%, #153863 100%);
  color: white;
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-item {
  width: 40px;
  height: 40px;
  background-color: #e8eaf6;
  color: #3f51b5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.hover-row:hover {
  background-color: #f8faff;
}

.mat-mdc-row {
  height: 60px;
  transition: all 0.2s ease-in-out;
}

.mat-mdc-cell {
  font-size: 0.95rem;
  color: #344767;
  font-weight: 500;
}

.mat-mdc-header-row {
  background: #ffffff;
  border-bottom: 2px solid #1467bb !important;
  height: 50px;
}


.mat-column-producto { width: 40%; }
.marca { width: 20%; }
.mat-column-stockGlobal { width: 10%; }
.mat-column-desglose { width: 30%; }
